<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">About</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Camtues</a>
          <a href="http://exitsoft.kr" class="item">Company</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Contact</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">제휴 및 광고 문의</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header">Information</h4>
        <p>경기도 안산시 상록구 사3동 한양대학로 55 창업보육센터 2층 Knowledge Factory<br />© 2017, Exitsoft All rights reserved</p>
        <div class="ui inverted horizontal link list">
          <a href="#" class="item"><i class="facebook icon"></i></a>
          <a href="https://github.com/exitsoft" class="item"><i class="github icon"></i></a>
        </div>
      </div>
    </div>

  </div>
</div>
