/* Exitsoft */
/* Primary Color Code: #388363 */

/* Main CSS */

* {
  margin: 0 auto;
}

.ui.secondary.pointing.menu .active.item {
  border-color: #388363 !important;
  color: #388363 !important;
}

.main_bg {
  background: url('/images/bg.jpg') !important;
  background-size: cover;
}

.masthead .ui.side {
  font-weight: bold;
  color: #388363;
}

.main_menu {
  border-color: transparent !important;
}

.main_search_bar {
  width: 100%;
}

.univ .image {
  height: 200px;
}

.image > img {
  overflow: hidden;
  width: auto;
  height: 100% !important;
  max-height: 100%;
}

.modal .header {
  color: white !important;
}

.modal .sub.header {
  color: white !important;
}

.sub.masthead {
  min-height: 250px !important;
}

.header.primary {
  color: #388363 !important;
}

i.primary {
  color: #388363;
}

label.primary {
  color: #388363;
}

/* Login CSS*/
.modal .login {
  width: 60%;
}

.login input {
  margin-bottom: 5px !important;
}

.login .button {
  margin-bottom: 5px !important;
}

/* Tutor Register Page */
.tutor.form {
  min-width: 60%;
}

@media (max-width: 767px) {
  .tutor.form {
    width: 100%;
    margin-top: 5em;
  }

  .tutor.form .fields {
    margin-bottom: 1em !important;
  }

  .modal .login {
    width: 95%;
  }

  .container {
    margin-bottom: 1.5em;
  }
}
