/* Exitsoft */

/* Main CSS */

* {
  margin: 0 auto;
}

.main_bg {
  background: url('/images/bg.jpg') !important;
  background-size: cover;
}

.main_menu {
  border-color: transparent !important;
}

.main_search_bar{
  width: 100%;
}

.univ .image {
  height: 200px;
}

.image > img {
  overflow: hidden;
  width: auto;
  height: 100% !important;
  max-height: 100%;
}

.modal .header {
  color: white !important;
}

.modal .sub.header {
  color: white !important;
}

.sub.masthead {
  min-height: 250px !important;
}

@media (max-width:480px) {

}


/* Login CSS*/
.login input {
  margin-bottom: 5px !important;
}
.login .button {
  margin-bottom: 5px !important;
}
