<div class="login">
  <h1 class="ui header">로그인
    <div class="sub header">당신이 배우고 싶은 모든 것, Camtues</div>
  </h1>
  <div class="ui left icon fluid input">
    <input type="text" placeholder="Username">
    <i class="user icon"></i>
  </div>
  <div class="ui left icon fluid input">
    <i class="unlock alternate icon"></i>
    <input type="password" placeholder="Password">
  </div>
  <p>
    아직도 회원이 아니신가요? 회원가입
  </p>
  <div class="ui fluid animated fade inverted button" tabindex="0">
    <div class="visible content"><i class="sign in icon"></i>로그인</div>
    <div class="hidden content">
      <i class="sign in icon"></i>튜터링 받으러 입장
    </div>
  </div>
  <button class="ui fluid facebook button">
    <i class="facebook icon"></i> Facebook으로 로그인
  </button>
</div>
